
<app-navbar></app-navbar>

<!---<app-foto></app-foto>-->
<!---<app-fatto></app-fatto>-->

<app-lepippe></app-lepippe>

<!---<p-slider [(ngModel)]="myValue"[min=0] [max=100]></p-slider>-->
<!---<h2>{{myValue}}</h2>-->

<app-exmple-for [listaDiNumeri] = '[3,5,2,6,8,50]'></app-exmple-for>

<app-posti-cinema [posti] = '[ true , true , false , true ]'></app-posti-cinema>

<app-number [numero1] ="3" [numero2]="5"></app-number>

<!--<app-data [myObject]= "myObject"></app-data>-->

<!---figlio-->
<!----<app-header  [title]="titleFromParent" [password] = "'sas'" ></app-header>--->



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-card [nome]="'Laura'" [cognome]= "'Lupo'" [listaCibi]= "cibiPreferiti"></app-card>
        </div>
    </div>
</div>

